<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Listar o produto pelo código</h3>
    <a href="http://localhost:8080/produto/2"> Exemplo 1 </a>
    <h3> Listar os produtos que estão no estoque</h3>
    <a href = "http://localhost:8080/produtosEmEstoque"> Exemplo 2 </a>
    <h3> Listar os produtos acima do valor selecionado </h3>  
    <a href = "http://localhost:8080/produtosValorAcima/2000">Exemplo 3 </a>
    <h3> Listar os produtos abaixo do valor selecionado </h3> 
    <a href="http://localhost:8080/produtosValorAbaixo/2000"> Exemplo 4 </a>      
    
</body>
</html>